#header{
    position: fixed;
}


#body{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#nav{
  display: grid;
    grid-template-columns: 1.5fr 1fr;
    font-family: "Gabriola";

}

.headUl{
    display: flex;
    list-style-type: none;


}

#headerHr{
   opacity: 30%;
    margin-top: -3vh;

}

.hLi{
    margin-left: 3vh;
    /*margin-right: 2vh;*/

}

#homediv1{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#homeimg{
   width: 35vw;
}

#homediv2{
    margin: 10vh;
    padding: 5vh;
    text-align: center;
    font-family: "Comic Sans MS";

}

#homedivh2{
    /*font-size: 30px;*/
}
#homedivh1{
    font-size: 33px;
    margin: 0;
}

#btnhomesession{
    color: white;
    background-color: blue;
    border-radius: 10px;

    width: 120px;
    height: 35px;
    shape-outside: none;
    box-shadow: black;
   border: beige;
    margin: 5px;

}

#homeseicon{
    margin: 20px;
}
svg{
    margin: 10px;
}

#about2{
    width: 65vh;
    margin:20px
}
#divAbout{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

#divtext{
    margin: 20px;
}
