#header{
    position: fixed;
    background-color: white;
    top: 0;
}


#body{
    margin-left: 13vh;
    margin-right: 10vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    /*margin: 5;*/


}

#nav{
  display: grid;
    grid-template-columns: 1.5fr 1fr;
    font-family: "Gabriola";

}

.headUl{
    display: flex;
    list-style-type: none;



}

#headerHr{
   opacity: 30%;
    margin-top: -3vh;

}

.hLi{
    margin-left: 3vh;
    cursor: pointer ;


    /*margin-right: 2vh;*/

}
.hLi>a{
    text-decoration: none;
    color: black;
}
.hLi>a:hover{
    text-decoration: #0404c7;
    color: blue;

    box-shadow: 3px 3px 3px 3px lightblue;
}

#homediv1{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#homeimg{
   width: 40vw;
    transition: width 1s;
}

#homeimg:hover{
    width: 43vw;


}

#homediv2{
    margin: 10vh;
    padding: 5vh;
    text-align: center;
    font-family: "Comic Sans MS";


}

#homedivh2{
    /*font-size: 30px;*/
}
#homedivh1{
    font-size: 33px;
    margin: 0;
}

#btnhomesession{
    color: white;
    background-color: blue;
    border-radius: 10px;

    width: 120px;
    height: 35px;
    shape-outside: none;
    box-shadow: black;
   border: beige;
    margin: 5px;
    transition: width 1s;


}
#btnhomesession:hover{

    background-color: #0303c4;
    cursor: pointer;
    width: 135px;
    height: 40px;
    box-shadow: 5px 5px 5px 5px lightblue;

}

#homeseicon{
    margin: 20px;
    transition: width 1s;
}
svg:hover{
    /*width: 20px;*/
    background-color: #f8f8f8;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 2px 2px black;

}

svg{
    margin: 10px;
}

#about2{
    width: 68vh;
    margin:20px;
    transition: width 1s;
}
#about2:hover{
    width: 55vh;
}
#divAbout{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

#divtext{
    margin: 40px;
    font-family: "Comic Sans MS";

}

#card{
    border-radius: 20px;
    border: #0404c7 solid 2px;
    margin-left: 50px;
    margin-right: 25px;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 3fr;

}

#card:hover{
    box-shadow: 20px 5px 5px lightblue;
    /*width: 86%;*/
    /*height: 100%;*/
}
.aboutLi{
    margin: 10px;
    list-style-type: none;
    font-family: "Comic Sans MS";
}
#btnCV{
    color: white;
    background-color: black;
    border-radius: 10px;
    position: relative;
    left: 500px;
    cursor: pointer;
    width: 120px;
    height: 30px;
    transition: width 1s;
}
#btnCV:hover{
    width: 130px;
    height: 35px ;
    box-shadow: 5px 3px 3px 2px lightblue;
}
.head{
    text-align: center ;
    font-size: 45px ;
    font-family: "Comic Sans MS";

}
#edudivMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.edudivsub{
    display: grid;
    grid-template-rows: 1fr 1fr;


}

.divEdulast{
    width: 250px;
    height: 100px;
    border: blue solid 2px;
    margin:50px;
    border-radius: 20px;
    padding: 26px;
    text-align: center;
    font-family: "Comic Sans MS";
    transition: width 1s;
}

.divEdulast:hover{

    width: 300px;
    text-shadow: 8px 3px lightblue;

}
#eduImg{
    justify-content: center;
    /*width: 100px;*/
}
#eduImgI{
    width: 400px;
    transition: width 1s;

}
#eduImgI:hover{
    width: 420px;
}
#skills{
    font-family: "Comic Sans MS";
    text-align: center;

}
#skilmaindiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#skilmaindiv>div{
    background-color: lightcyan;
    margin: 20px;
    border-radius: 20px;
    /*transition: box-shadow 2s;*/
   width: 330px;
    transition:width 2s;


}
#skilmaindiv>div:hover{
    box-shadow: 15px 10px darkblue;
    width: 250px;



}

#contactdivmain{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.contactgrid{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#contactdivsubmain{
    display: inline-block;
    position: relative;
    left: 200px;


    /*grid-template-columns: 5fr 1fr;*/
}

#cardContact{
    margin: 30px;
    padding: 30px;
}

.input{
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 3px;
    border-radius: 20px;
}
.textArea{
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
}

#btnSend{
    position: relative;
    left: 250px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    width: 90px;
    height: 40px;
    cursor: pointer;
border: white;
}

#footer{
    width: 100%;
    background-color: blue;
    margin: 0;
    padding: 1vh;
    text-align: center;
    color: white;
}
#footer,#contact,#projects,#skills{
    font-family: "Comic Sans MS";

}